

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


main{
    width: 100%;
    justify-content: space-around;
    display: flex;
}
main textarea{
    max-width: 500px;
    width: 100%;
    background-color: ghostwhite;
 
}
main textarea:focus{
box-shadow: cornflowerblue 0px 0px 2px 0px;
border: none;
outline: none;

}

.jsonContainer, .csvContainer{
width: inherit;
}

Header{
    text-align: center;
    background-color: cornflowerblue;
}

h1{
    font-size: 3rem;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}


.container {
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  button{
      margin-top: 25px;
      width: 80px;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: orange;
      padding: .8rem;
      color:rgb(53, 53, 53)ff;
      text-align: center;
      transition: background-color .5s;
  }
  button:hover{
    background-color: rgb(221, 147, 9); 
  }

  @keyframes fadeIn{
    from{
        opacity: 0;
    }
  }
  .error{
      color: #ffffff;
      font-size: 1.2rem;
      text-align: center;
      margin: 20px 5% ;
      padding: 10px;
      background-color: tomato;
      font-weight: bold;
      opacity: .9;
      animation: fadeIn .5s ease-in-out;
  }
  .alert{
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px 5% ;
    padding: 10px;
    background-color: rgb(71, 181, 255);
    font-weight: bold;
    opacity: .9;
    animation: fadeIn .5s ease-in-out;
}
 